.copyright-logo {
    width: 115px;
    height: 40px;
}

.copyright-logo:hover {
    /*todo*/
    cursor: pointer;
}

.copyright-logo--svg {
    background-color: #000000;

    -webkit-mask-image: url(../img/logo-copyright.svg);
    -webkit-mask-repeat: no-repeat;

    mask-image: url(../img/logo-copyright.svg);
    mask-repeat: no-repeat;

    text-indent: -9999px;
    white-space: nowrap;
}

.copyright-logo--svg:hover {
    background-color: #81b3d2;
}

.copyright-logo--svg:active {
    background-color: #bdbbbc;
}