.footer {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .9);
    color: #000000;

    padding: 36px 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.footer--absolute {
    position: absolute;
    bottom: 0;
}

.footer__left {
    flex: 1;

    text-align: center;
}

.footer__left:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer__logo {
    color: #000000;
    font-size: 21px;
    font-weight: bold;

    display: inline-block;
    vertical-align: sub;
    margin: 0 0 0 -0.35em; /* сдвиг на пробел (0,35em) между div и p */
}

.footer__center {
    flex: 1;

    text-align: center;
}

.footer__center:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer__right {
    flex: 1;

    text-align: center;
}

.footer__right:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer__copyright {
    display: inline-block;
}

.footer__copyright-description {
    font-size: 14px;

    margin: 0;
    display: inline-block;
}

.footer__copyright-logo {
    display: inline-block;
    vertical-align: middle;
}

.footer__copyright-logo img {
    display: block;
}