.footer {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .9);
    color: #000000;

    padding: 36px 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.footer--absolute {
    position: absolute;
    bottom: 0;
}

.footer__logo {
    color: #000000;
    font-weight: bold;
}

.footer__copyright {

}

.footer__copyright-description {
    font-size: 14px;
    display: inline-block;
}

.footer__copyright-logo {
    display: inline-block;
    vertical-align: middle;
}