@import "normalize.css";
@import "header.css";
@import "logo.css";
@import "nav.css";
@import "reasons.css";
@import "reason.css";
@import "reason-features.css";
@import "search.css";
@import "search-form.css";
@import "footer.css";
@import "socials.css";
@import "search-settings.css";
@import "search-settings-group.css";
@import "settings-checkbox.css";
@import "search-results.css";
@import "sorting-settings.css";
@import "search-results-item.css";
@import "price-range-numeric.css";
@import "price-range-slider.css";
@import "promo.css";
@import "map.css";

* {
    box-sizing: border-box;
}

body {
    width: 768px;
    margin: 0 auto;
    position: relative;
}