.nav {
    background: #fff;
    text-transform: uppercase;
}

.nav__list {

}

.nav__item {
    list-style: none;
}

.nav__item a {
    color: #000;
    text-decoration: none;
    font: bold 14px 'PT Sans', sans-serif;
}