.nav {
    background: rgba(255, 255, 255, .9);
    text-transform: uppercase;

    padding: 0 16px;
}

.nav__list {
    padding: 0;
    margin: 0;
    display: flex;
}

.nav__item {
    list-style: none;
    padding: 18px 30px;
}

.nav__item:nth-child(3) {
    margin-left: auto;
}

.nav__item a {
    color: #000;
    text-decoration: none;
    font: bold 14px 'PT Sans', sans-serif;
}