.promo {
    margin-top: 56px;
    position: relative;
}

.promo__picture-text {
    position: absolute;
    left: 50%;
    top: 77px;
    transform: translateX(-50%);
}

.promo__picture-bg {
    display: block;
}

.promo__picture-bg img {
    display: block;
}