.reason-features {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #000000;
}

.reason-features__list {
    padding: 0;
}

.reason-features__item {
    list-style: none;

    width: 256px;
    height: 330px;
    padding: 58px 45px 58px;

    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
}

.reason-features__title {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
}

.reason-features__description {
    font-size: 14px;
    margin: 0;
}