.reason {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background-color: #eeeeee;
    color: #000000;

    text-align: center;
    display: inline-block;
    width: 258px;
    height: 258px;
}

.reason__title {
    font: bold 21px inherit;
}

.reason--full-width {
    background-color: #81b3d2;
    color: #ffffff;

    width: 100%;
}

.reason__image {
    display: inline-block;
}

.reason--image-right {

}

.reason--image-left {

}

.reason__title {
    font-size: 21px;
    font-weight: bold;
}

.reason__number {
    font-size: 14px;

}

.reason__description {
    font-size: 14px;

}