.reason {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background-color: #eeeeee;
    color: #000000;

    width: 256px;
    min-height: 256px;
    padding: 50px 39px 40px;

    display: inline-flex;
    flex-direction: column;
}

.reason__container {
    padding: 50px 39px 40px;
}

.reason__title {
    font-weight: bold;
    font-size: 21px;
    margin: 0;
    padding-bottom: 21px;
}

.reason--full-width {
    background-color: #81b3d2;
    color: #ffffff;

    flex-direction: row;

    padding: 0;
    width: 100%;
}

.reason__image {
    display: inline-block;
}

.reason--image-right {
    order: -1;
}

.reason--image-left {
    flex-direction: row-reverse;
}

.reason__number {
    font-size: 14px;
    margin: 0;
    padding-bottom: 21px;
}

.reason__description {
    font-size: 14px;
    margin: 0;
}