.reason-features {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #000000;
}

.reason-features__list {
    padding: 0;
}

.reason-features__item {
    list-style: none;

    display: inline-block;
    text-align: center;

    width: 258px;
    height: 258px;
}

.reason-features__title {
    font-size: 21px;
    font-weight: bold;
}

.reason-features__description {
    font-size: 14px;
}