.reasons {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;

    text-align: center;
}

.reasons__title {
    font-size: 21px;
    font-weight: bold;
}

.reasons__subtitle {
    font-size: 14px;
    color: #333;
}

.reasons__list {
    padding: 0;
    margin: 0;
    font-size: 0;
}

.reasons__item {
    list-style: none;
}
