.reason {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background-color: #eeeeee;
    color: #000000;

    width: 256px;
    height: 256px;
    padding: 50px 45px 40px;


    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
}

.reason__title {
    font: bold 21px inherit;
    margin: 0;
}

.reason--full-width {
    background-color: #81b3d2;
    color: #ffffff;

    width: 100%;
}

.reason__image {
    display: inline-block;
}

.reason--image-right {

}

.reason--image-left {

}

.reason__title {
    font-size: 21px;
    font-weight: bold;
}

.reason__number {
    font-size: 14px;
    margin: 0;
}

.reason__description {
    font-size: 14px;
    margin: 0;
}