.search-form {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #000000;

    border: none;
    padding: 55px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
}

.search-form__row {
    margin-bottom: 29px;
    display: flex;
    align-items: center;
}

.search-form__row:last-of-type {
    margin-bottom: 55px;
}

.search-form__col {
    margin-right: 6px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.search-form__col:last-of-type {
    margin-right: 0;
}

/*todo counter align*/
.search-form__counter {
    display: flex;
    background-color: #f2f2f2;
}

.search-form__label {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.search-form__label--margin {
    margin-left: 48px;
}

.search-form__input {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;

    padding: 0 0 0 12px;
    margin-left: auto;
    min-width: 305px;
    height: 38px;

    outline: none;
}

.search-form__input:hover {
    background-color: #ebebeb;
    border-color: #ebebeb;
}

.search-form__input:focus {
    background-color: #ffffff;
    border-color: #e5e5e5;
}

.search-form__input--counter {
    min-width: inherit;
    width: 38px;
    padding: 0;
    text-align: center;
}

.search-form__button {
    font: bold 21px 'PT Sans', sans-serif;
    text-transform: uppercase;
    line-height: 26px;
    color: #ffffff;
    background-color: #81b3d2;

    border: none;
    border-radius: 0;

    padding: 16px 27px;
    width: 100%;
}

.search-form__button:hover {
    background-color: #669ec0;
}

.search-form__button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, .3);
}

.search-form__counter-button {
    border: none;
    background-color: inherit;

    width: 38px;
    height: 38px;
    padding: 0;
}

.search-form__counter-button img {
    vertical-align: middle;
}

.search-form__show-input-button {
    border: none;
    padding: 0 10px;
    height: 38px;
    background-color: #f2f2f2;
}

.search-form__show-input-button img {
    vertical-align: bottom;
}