.search-results-item {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;
    list-style: none;
}

.search-results-item__title {
    font-size: 21px;
    font-weight: bold;
}

.search-results-item__type {
    font-size: 14px;
    color: #333333;
}

.search-results-item__price {
    font-size: 14px;
    color: #333333;
}

.search-results-item__details-button {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.search-results-item__book-button {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.search-results-item__rating-description {
    font-size: 14px;
    color: #666666;
}