.search {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #000000;

    text-align: center;
}

.search__wrapper {
    position: relative;
}

.search__title {
    font-size: 21px;
    font-weight: bold;
}

.search__description {
    font-size: 14px;
}

.search__trigger {
    font: bold 21px 'PT Sans', sans-serif;
    color: #ffffff;
    text-transform: inherit;
    background-color: #766357;

    border: none;
    border-radius: 0;

    padding: 0;
    width: 568px;
    height: 86px;
}

.search__form {
    width: 568px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}