.search-form {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #000000;

    border: none;
    padding: 55px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
}

.search-form__row {
    margin-bottom: 29px;
    display: flex;
    align-items: center;
}

.search-form__row:last-of-type {
    margin-bottom: 55px;
}

.search-form__col {
    margin-right: 6px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.search-form__col:last-of-type {
    margin-right: 0;
}

/*todo counter align*/
.search-form__counter {
    display: flex;
    background-color: #f2f2f2;
}

.search-form__label {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.search-form__label--margin {
    margin-left: 48px;
}

.search-form__input {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;

    padding: 0 0 0 12px;
    margin-left: auto;
    min-width: 305px;
    height: 38px;

    outline: none;
}

.search-form__input:hover {
    background-color: #ebebeb;
    border-color: #ebebeb;
}

.search-form__input:focus {
    background-color: #ffffff;
    border-color: #e5e5e5;
}

.search-form__input--counter {
    min-width: inherit;
    width: 38px;
    padding: 0;
    text-align: center;
}

.search-form__input--counter[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.search-form__button {
    font: bold 21px 'PT Sans', sans-serif;
    text-transform: uppercase;
    line-height: 26px;
    color: #ffffff;
    background-color: #81b3d2;

    border: none;
    border-radius: 0;

    padding: 16px 27px;
    width: 100%;
}

.search-form__button:hover {
    cursor: pointer;
    background-color: #669ec0;
}

.search-form__button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, .3);
}

.search-form__counter-button {
    cursor: pointer;

    border: none;
    background-color: inherit;

    width: 38px;
    height: 38px;
    padding: 0;

    text-indent: -9999px;
    white-space: nowrap;
}

/*.search-form__counter-button img {*/
/*vertical-align: middle;*/
/*}*/

.search-form__counter-button--minus {
    background-color: #a9a9a9;

    -webkit-mask-image: url(../img/minus.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 11px;

    mask-image: url(../img/minus.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 12px;
}

.search-form__counter-button--minus:hover {
    background-color: #000000;
}

.search-form__counter-button--minus:active {
    background-color: #81b3d2;
}

.search-form__counter-button--plus {
    background-color: #a9a9a9;

    -webkit-mask-image: url(../img/plus.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 11px;

    mask-image: url(../img/plus.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 11px;
}

.search-form__counter-button--plus:hover {
    background-color: #000000;
}

.search-form__counter-button--plus:active {
    background-color: #81b3d2;
}

.search-form__show-input-button {
    cursor: pointer;

    border: none;
    height: 38px;
    width: 41px;

    background-color: #f2f2f2;

    text-indent: -9999px;
    white-space: nowrap;
}

.search-form__show-input-button--calendar {
    position: relative;
}

.search-form__show-input-button--calendar:before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #a9a9a9;

    -webkit-mask-image: url(../img/calendar.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 21px;

    mask-image: url(../img/calendar.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 21px;
}

.search-form__show-input-button--calendar:hover:before {
    background-color: #000000;
}

.search-form__show-input-button--calendar:active:before {
    background-color: #81b3d2;
}