.search-settings-group {
    -webkit-font-smoothing: antialiased;
}

.search-settings-group__title {
    font-weight: bold;
    font-size: 16px;

    margin: 0 0 27px;
}

.search-settings-group__list {
    padding: 0;
    margin: 0;
}

.search-settings-group__item {
    font-size: 14px;
    line-height: 21px;
    list-style: none;

    margin-bottom: 25px;
}

.search-settings-group__item:last-child {
    margin-bottom: 0;
}

.search-settings__price-filter {
    -webkit-font-smoothing: antialiased;
}

.search-settings__price-title {
    line-height: 21px;
    margin: 0;
}