.search-settings {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;

    padding: 28px 45px;
    display: flex;
    justify-content: space-between;
}

.search-settings__group {
    flex: 1;
}

.search-settings__price-filter {
    text-align: center;
}

.search-settings__price-title {
    font-size: 16px;
    font-weight: bold;

    padding-bottom: 10px;
    text-align: left;
}

.search-settings__price-range-slider {
    margin: 20px 0 32px;
}

.search-settings__button {
    font: 14px 'PT Sans', sans-serif;
    text-transform: uppercase;

    color: #ffffff;
    background-color: transparent;

    border: 2px solid #ffffff;
    border-radius: 3px;

    min-width: 135px;
    min-height: 36px;
}

.search-settings__button:hover {
    background-color: #ffffff;
    color: #000000;
}