.search-settings {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;

    padding: 28px 45px;
    display: flex;
    justify-content: space-between;
}

.search-settings__price-filter {

}

.search-settings__price-title {
    font-size: 16px;
    font-weight: bold;
}

.search-settings__button {
    font: 14px 'PT Sans', sans-serif;
    text-transform: uppercase;

    color: #ffffff;
    background-color: transparent;

    border: 2px solid #ffffff;
    border-radius: 0;

    min-width: 133px;
    min-height: 32px;
}