.socials {
    font-size: 0;

    display: inline-block;
    vertical-align: middle;
}

.socials__list {
    padding: 0;
}

.socials__item {
    list-style: none;
    background-color: #81b3d2;

    height: 48px;
    width: 46px;

    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;

    margin-right: 6px;
    position: relative;
}

.socials__item:hover {
    background-color: #669ec0;
}

.socials__item:active:before {
    content: '';
    position: absolute;
    background-color: rgba(84, 150, 189, 0.7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.socials__item:last-child {
    margin-right: 0;
}