.socials {
    font-size: 0;

    display: inline-block;
    vertical-align: middle;
}

.socials__list {
    padding: 0;
}

.socials__item {
    list-style: none;
    background-color: #81b3d2;

    height: 48px;
    width: 46px;

    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;

    margin-right: 6px;
    position: relative;
}

.socials__item:hover {
    cursor: pointer;
    background-color: #669ec0;
}

.socials__item:active img {
    opacity: 0.3;
}

.socials__item:last-child {
    margin-right: 0;
}