.socials {
    font-size: 0;
}

.socials__list {
    margin: 0;
    padding: 0;
}

.socials__item {
    list-style: none;
    background-color: #81b3d2;

    height: 46px;
    width: 48px;

    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;

    margin-right: 6px;
}

.socials__item:last-child {
    margin-right: 0;
}