.sorting-settings {
    font: 12px 'PT Sans', sans-serif;
    text-transform: uppercase;
    max-width: 456px;
}

.sorting-settings__title {
    color: #000000;

    display: inline-block;
    margin: 0 37px 0 0;
}

.sorting-settings__list {
    padding: 0;
    margin: 0;

    display: inline-block;
}

.sorting-settings__item {
    list-style: none;

    display: inline-block;
    margin-right: 29px;
}

.sorting-settings__item:last-child {
    margin-right: 0;
}

.sorting-settings__link {
    line-height: 21px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-settings__link:hover {
    color: #81b3d2;
}

.sorting-settings__link:active {
    border-bottom: none;
    color: #000000;
}

/*.sorting-settings__link:active {*/
    /*!*todo activated*!*/
    /*border-bottom: none;*/
    /*color: #81b3d2;*/
/*}*/

.sorting-settings__order {
    margin-top: 1px;  /* TODO REMOVE ?? */

    display: inline-block;
    position: absolute;
    right: 46px;
    top: 50%;
    transform: translateY(-50%);

    height: 10px; /* TODO REPLACE WITH ?? */
}

.sorting-settings__order-link {
    background-color: #cacaca;
    display: inline-block;

    text-indent: -9999px;
    white-space: nowrap;
    width: 11px;
    height: 10px;

    margin-right: 8px;
}

.sorting-settings__order-link:hover {
    background-color: #000000;
    cursor: pointer;
}

.sorting-settings__order-link:active {
    background-color: #81b3d2;
}

/*.sorting-settings__order-link arrow todo activated style*/

.sorting-settings__order-link:last-of-type {
    margin-right: 0;
}

.sorting-settings__order-link--up {
    -webkit-mask-image: url(../img/icon-up-dir.svg);
    mask-image: url(../img/icon-up-dir.svg);
}

.sorting-settings__order-link--down {
    -webkit-mask-image: url(../img/icon-down-dir.svg);
    mask-image: url(../img/icon-down-dir.svg);
}